<div class="container-fluid">
<div class="container">
	<div class="bt-photogallery">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="bt-pageheadcontent">
          <h2>Occasions</h2>
        </div>
      </div>
  </div>
</div>
	<div class="container">
        <div class="row">
		<div class="row bo-img">
			<div class="col-md-4 bo-col-md-4">
				<img src="assets/images/occasion/image-1.jpg">
				<div class="centered">Theme based parties</div>
			</div>
			<div class="col-md-4 bo-col-md-4">
				<img src="assets/images/occasion/image-2.jpg">
				<div class="centered">Weddings</div>
			</div>
			<div class="col-md-4 bo-col-md-4">
				<img src="assets/images/occasion/image-3.jpg">
				<div class="centered">Pre wedding shoots</div>
			</div>
			<div class="col-md-4 bo-col-md-4">
				<img src="assets/images/occasion/image-4.jpg">
				<div class="centered">portfolio shoots</div>
			</div>
			<div class="col-md-4 bo-col-md-4">
				<img src="assets/images/occasion/image-5.jpg">
				<div class="centered">Festive Events</div>
			</div>
			<div class="col-md-4 bo-col-md-4">
				<img src="assets/images/occasion/image-6.jpg">
				<div class="centered">Family Gatherings</div>
			</div>
			<div class="col-md-4 bo-col-md-4">
				<img src="assets/images/occasion/image-7.jpg">
				<div class="centered">Corporate Sessions</div>
			</div>
			<div class="col-md-4 bo-col-md-4">
				<img src="assets/images/occasion/image-8.jpg">
				<div class="centered">Corporate Events & Meetings</div>
			</div>
			<div class="col-md-4 bo-col-md-4">
				<img src="assets/images/occasion/image-9.jpg">
				<div class="centered">Advertisements & Banners</div>
			</div>
			<div class="col-md-4 bo-col-md-4">
				<img src="assets/images/occasion/image-10.jpg">
				<div class="centered">Trainings & Seminars</div>
			</div>
			 </div>
		</div>
	</div>
</div>
<!-- </div> -->