<div class="container">

</div>
<section>
<div class="container-fluid bo-contact">
	<div class="container" style="margin-top: 40px; margin-bottom: 100px; background-color: #fff;">
    <div class="row" style="padding: 50px;">
      <div class="bt-photogallery">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <div class="bt-pageheadcontent">
                  <h2>Contact Us</h2>
                </div>
              </div>
            </div>
      <div class="col-md-9" >
      	<form method="post" action="" class="queryforms" id="contactform">
            <div class="row">
            	<div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <h5>First name:</h5>
                  <input type="text" class="form-control styled" id="name_contact" name="firstname" placeholder="name">
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <h5>Last name:</h5>
                  <input type="text" class="form-control styled" id="lastname_contact" name="lastname" placeholder="Doe">
                </div>
              </div>
              </div>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <h5>Email:</h5>
                  <input type="email" id="email_contact" name="email_contact" class="form-control styled" placeholder="name@email.com">
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <h5>Phone number:</h5>
                  <input type="text" id="phone_contact" name="mobile" class="form-control styled" placeholder="00 00 0000000">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <h5>Your message:</h5>
                  <textarea rows="5" id="message_contact" name="message" class="form-control styled" style="height:100px;" placeholder="Hello world!"></textarea>
                </div>
              </div>
            </div>
          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                </div>
               <input type="submit" value="Submit" class="btn btn-primary" id="submit-contact">
              </div>
            </div> 
        </div>
    </form>
</div>
<div class="col-md-3">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <h3>Contacts Info</h3>
        <p>Mobile:9876543210</p>
        <h6>Email:<p><a href="mailto:info@backstagesupporters.com">info@backstagesupporters.com</a></p></h6>
        <h6><p>Address:Gautam Nursing Home, d2, 148, Pankha Rd, Block B, Jivan Park, Uttam Nagar New, Delhi, 110059"</p></h6>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</section>